#!/usr/bin/env bash
#
# Template for `shared.env`.
# 
# Require you to edit:
# 
# - SINGPATH_BENCH_FIREBASE_AUTH_SECRET;
# - SINGPATH_BENCH_DIGITALOCEAN_TOKEN;
# - SINGPATH_BENCH_FIREBASE_ID (or use default);
# - SINGPATH_BENCH_GCE_PROJECT (or use default).
# 

## Verifier settings
#
export SINGPATH_BENCH_FIREBASE_ID="singpath-play"
export SINGPATH_BENCH_FIREBASE_QUEUE="bench"
export SINGPATH_BENCH_FIREBASE_QUEUE_URL="https://${SINGPATH_BENCH_FIREBASE_ID}.firebaseio.com/singpath/queues/${SINGPATH_BENCH_FIREBASE_QUEUE}"
export SINGPATH_BENCH_MAX_WORKER="3"
export SINGPATH_BENCH_VERIFIER_TAG="latest"
# Get it at https://the-firebase-id.firebaseio.com/?page=Admin
export SINGPATH_BENCH_FIREBASE_AUTH_SECRET=""


## benchmark settings
#
export SINGPATH_BENCH_TEST_COUNT="15"
export SINGPATH_BENCH_CONTAINER_NAME="singpath-verifier-bench"


## Platform specific settings
#
# GCE project ID
export SINGPATH_BENCH_GCE_PROJECT="singpath-hd"

# Digital ocean api token
# got to: https://cloud.digitalocean.com/settings/api/tokens
export SINGPATH_BENCH_DIGITALOCEAN_TOKEN=""
